:root {
  --accent: #95e1d3;
  --hover: #f38181;
  --black: #333333;
  --grey: #b6b6b6;
  --white: #fff;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0%;
  color: var(--grey);
  background-color: var(--white);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 68px;
}
.container {
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  
}
.logo {
  font-family: "monserrat";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0%;
  color: var(--accent);
}
.logo:hover {
  color: var(--hover);
}
.invisible {
  display: none;
}
.nav-list {
  display: flex;
  gap: 55px;
}
.nav-link {
  font-family: "montserrat" sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--accent);
}
.nav-link:hover {
  color: var(--hover);
}
.section-pretitle {
  font-family: "kaushan script";
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  text-align: center;
}
.section-title {
  margin-bottom: 110px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  color: var(--black);
  text-align: center;
}
.wrap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.service-list > li {
  width: 330px;
  margin-bottom: 100px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.section-sous-title {
  text-align: center;
  margin-bottom: 85px;
}
.team-list img {
  margin-bottom: 30px;
}
.team-list h4 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 11px;
  color: var(--black);
}
.team-list p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  font-style: italic;
}
.footer{
    border-top: 1px solid #b6b6b6;
    padding-top:10px ;
    padding-bottom: 10px;
     
    display: flex;
    justify-content: space-between;
    text-align: center;

    color: #000000;
}
.footer a{
    color: var(--hover);
}
.footer input{
    width: 230px;
    padding: 12px 10px;
    border-radius: 0;
    border: 1px solid var(--grey);


}
.footer input::placeholder{
    font-family: "Roboto";
font-weight: 300;
font-style: italic;
font-size: 14px;
color: var(--grey);

}
.footer button{
  font-family: "Montserrat";
font-weight: 700;
font-size: 14px;
text-align: center;
color: var(--white);
background-color: var(--accent);
padding: 14px 38px 14px;
border: none;
text-transform: uppercase;
}
.footer form{
    display: flex;
   align-items: center;
}
.team{
margin-bottom: 80px;
}