.footer {
  border-top: 1px solid #b6b6b6;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  justify-content: space-between;
  text-align: center;

  color: #000000;
  &__link {
    color: $hover;
  }
  &__input {
    width: 230px;
    padding: 12px 10px;
    border-radius: 0;
    border: 1px solid $grey;
    &::placeholder {
      font-family: "Roboto";
      font-weight: 300;
      font-style: italic;
      font-size: 14px;
      color: $grey;
    }
  }
  &__btn {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: $white;
    background-color: $accent;
    padding: 14px 38px 14px;
    border: none;
    text-transform: uppercase;
  }
  &__form {
    display: flex;
    align-items: center;
  }
}

