.service {
  &__icon {
    width: 37px;
    height: 37px;
    fill: $accent;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    width: 330px;
    margin-bottom: 100px;
  }
}

