
.team-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
  .section-sous-title {
    text-align: center;
    margin-bottom: 85px;
  }
  .team-list img {
    margin-bottom: 30px;
  }
  .team-list h4 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 11px;
    color: $black;
  }
  .team-list p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    font-style: italic;
  }